@media (max-width: 1200px) {
  #tables .tables--nica {
    margin-left: 47%;
  }
  #tables .tables--nica__close1 {
    width: 175px;
  }
  #tables .tables--nica__close {
    width: 177px;
  }
  #tables .tables--helps__year {
    width: 175px;
  }
  #offers .offers--hand {
    right: 226px;
    bottom: 217px;
  }
  #offers .offers--hand iframe {
    width: 150px;
    height: 268px;
  }
}
@media (max-width: 1024px) {
  #offers .offers img {
    width: 71%;
  }
  #offers .offers--hand {
    right: 107px;
    bottom: 231px;
  }
  #offers .offers--hand iframe {
    width: 140px;
    height: 256px;
  }
  #tables .tables--nica {
    margin-left: 64%;
  }
}
@media (max-width: 992px) {
  #offers .offers--phone {
    margin-left: 59px;
  }
  #offers .offers--hand {
    right: 151px;
    bottom: 230px;
  }
  #offers .offers--hand iframe {
    width: 137px;
    height: 250px;
  }
  #tables .tables--helps {
    width: 54%;
  }
}
@media (max-width: 768px) {
  #offers .offers--phone__live {
    width: 64%;
    font-size: 27px;
  }
  #offers .offers--phone__btn {
    margin: 6px 0;
    width: 176px;
    height: 44px;
  }
  #offers .offers--phone__icon {
    width: 83%;
    padding: 13px 0;
    font-size: 26px;
  }
  #offers .offers--phone__brand {
    font-size: 12px;
  }
  #offers .offers--hand {
    right: 119px;
    bottom: 305px;
  }
  #offers .offers--hand iframe {
    width: 109px;
    height: 193px;
  }
  #phones .phones--circle__world--pink {
    margin-top: 29vh;
  }
  #phones .phones--circle__world--pink__next {
    padding: 15px 0;
    font-size: 14px;
    width: 88%;
  }
  #phones .phones--circle__world--pink__fixed {
    width: 126px;
    font-size: 10px;
  }
  #phones .phones--circle__world--image__apple--img {
    width: 100px;
    top: 29px;
  }
  #phones .phones--circle__world--image__apple--data {
    width: 115px;
  }
  #phones .phones--circle__stand--pink {
    margin-top: 29vh;
  }
  #phones .phones--circle__stand--pink__next {
    padding: 15px 0;
    font-size: 14px;
    width: 88%;
  }
  #phones .phones--circle__stand--pink__fixed {
    width: 126px;
    font-size: 10px;
  }
  #phones .phones--circle__stand--image__apple--img {
    width: 100px;
    top: 29px;
  }
  #phones .phones--circle__stand--image__apple--data {
    width: 115px;
  }
  #phones .phones--circle__help--pink {
    margin-top: 29vh;
  }
  #phones .phones--circle__help--pink__next {
    padding: 15px 0;
    font-size: 14px;
    width: 88%;
  }
  #phones .phones--circle__help--pink__fixed {
    width: 126px;
    font-size: 10px;
  }
  #phones .phones--circle__help--image__apple--img {
    width: 100px;
    top: 29px;
  }
  #phones .phones--circle__help--image__apple--data {
    width: 115px;
  }
  #phones .phones--word__have {
    width: 51%;
    font-size: 26px;
  }
  #time {
    padding: 0 0 100px 0;
  }
  #time .time--clock img {
    width: 60%;
  }
  #time .time--clock__times {
    font-size: 55px;
    top: 80px;
    left: 62px;
  }
  #time .time--clock__watch {
    width: 117px;
    height: 116px;
    top: 48px;
    left: 20px;
    border: 10px solid #D22856;
  }
  #time .time--effect__they {
    font-size: 25px;
  }
  #time .time--effect__shrift {
    font-size: 13px;
  }
  #time .time--effect__know a {
    font-size: 12px;
  }
  #smil .smil .swiper-slide__offer {
    padding: 60px 0;
    width: 602px;
  }
  #tables .tables--nica {
    margin-left: 46%;
  }
  #tables .tables--nica__close {
    width: 115px;
  }
  #tables .tables--nica__close--smail {
    font-size: 18px;
  }
  #tables .tables--nica__close--valute {
    font-size: 11px;
  }
  #tables .tables--nica__close1 {
    width: 115px;
  }
  #tables .tables--nica__close1--webs {
    position: relative;
    width: 45px;
  }
  #tables .tables--nica__close1--webs p {
    top: 8px;
    left: 4px;
  }
  #tables .tables--nica__close1--webs img {
    width: 100%;
  }
  #tables .tables--nica__close1--one {
    margin-right: 10px;
  }
  #tables .tables--nica__close1--one--smail {
    font-size: 10px;
  }
  #tables .tables--nica__close1--one__valute {
    font-size: 9px;
  }
  #tables .tables--helps__year {
    width: 114px;
  }
  #tables .tables--helps__year p {
    color: #283645;
    font-size: 10px;
  }
  #social .social--network {
    width: 25%;
  }
  #cards .cards--email__telphone a {
    font-size: 10px;
  }
  #cards .cards--email__telphone--call {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  #header {
    background: #283645;
    height: 50px;
  }
  #header .header__hamburger__menu .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  #header .header__hamburger__menu .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }
  #header .header__hamburger__menu #menu-toggle {
    display: none;
  }
  #header .header__hamburger__menu .menu-button,
  #header .header__hamburger__menu .menu-button::before,
  #header .header__hamburger__menu .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  #header .header__hamburger__menu .menu-button::before {
    content: "";
    margin-top: -8px;
  }
  #header .header__hamburger__menu .menu-button::after {
    content: "";
    margin-top: 8px;
  }
  #header .header__hamburger__menu #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0;
    transform: rotate(405deg);
  }
  #header .header__hamburger__menu #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  #header .header__hamburger__menu #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0;
    transform: rotate(-405deg);
  }
}
@media (max-width: 576px) and (max-width: 700px) {
  #header .header__hamburger__menu .menu-button-container {
    display: flex;
  }
  #header .header__hamburger__menu .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #header .header__hamburger__menu #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #header .header__hamburger__menu #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #header .header__hamburger__menu .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #283645;
  }
  #header .header__hamburger__menu .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
@media (max-width: 576px) {
  #offers .offers img {
    width: 68%;
  }
  #offers .offers--phone {
    margin-left: 74px;
  }
  #offers .offers--phone__live {
    width: 64%;
    font-size: 15px;
  }
  #offers .offers--phone__btn {
    margin: 21px 0;
    width: 116px;
    height: 34px;
    font-size: 9px;
  }
  #offers .offers--phone__icon {
    padding: 1px 0;
    font-size: 14px;
  }
  #offers .offers--phone__brand {
    font-size: 6px;
    padding: 10px 0;
  }
  #offers .offers--hand {
    right: 90px;
    bottom: 366px;
  }
  #offers .offers--hand iframe {
    width: 75px;
    height: 134px;
  }
}
@media (max-width: 576px) {
  #phones .phones--word__have {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  #time {
    padding: 0 0 100px 0;
  }
  #time .time--clock img {
    width: 60%;
  }
  #time .time--clock__times {
    font-size: 45px;
    top: 77px;
    left: 52px;
  }
  #time .time--clock__watch {
    top: 41px;
    left: 13px;
  }
  #time .time--effect__they {
    font-size: 20px;
  }
  #time .time--effect__shrift {
    font-size: 8px;
  }
  #time .time--effect__know a {
    font-size: 9px;
  }
}
@media (max-width: 576px) {
  #smil .smil .swiper-slide__offer {
    width: 385px;
  }
}
@media (max-width: 576px) {
  #tables .tables {
    margin-right: 35px;
  }
  #tables .tables--nica {
    margin-left: 45%;
  }
  #tables .tables--nica__close {
    width: 91px;
  }
  #tables .tables--nica__close--smail {
    font-size: 18px;
  }
  #tables .tables--nica__close--valute {
    font-size: 11px;
  }
  #tables .tables--nica__close1 {
    width: 91px;
  }
  #tables .tables--nica__close1--webs {
    position: relative;
    width: 45px;
  }
  #tables .tables--nica__close1--webs p {
    top: 8px;
    left: 4px;
  }
  #tables .tables--nica__close1--webs img {
    width: 100%;
  }
  #tables .tables--nica__close1--one {
    margin-right: 10px;
  }
  #tables .tables--nica__close1--one--smail {
    font-size: 10px;
  }
  #tables .tables--nica__close1--one__valute {
    font-size: 9px;
  }
  #tables .tables--helps__year {
    width: 91px;
  }
  #tables .tables--helps__year p {
    color: #283645;
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  #social .social img {
    height: 24px;
  }
  #social .social--network {
    width: 25%;
  }
  #social .social--network a {
    width: 26px;
    height: 29px;
  }
  #social .social--network__twitter {
    width: 26px;
    height: 26px;
  }
  #social .social--week p {
    font-size: 12px;
  }
  #social .social--student {
    width: 20%;
    font-size: 12px;
  }
  #social .social--student .code {
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  #cards .cards--late {
    font-size: 29px;
  }
  #cards .cards--email__telphone a {
    font-size: 10px;
  }
  #cards .cards--email__telphone--call {
    font-size: 14px;
  }
}
@media (max-width: 450px) {
  #phones .phones--word__have {
    line-height: 29px;
    margin: 41px 0;
    width: 43%;
    font-size: 25px;
  }
  #phones .phones--circle {
    display: flex;
    justify-content: space-around;
  }
  #phones .phones--circle__help {
    display: none;
  }
  #phones .phones--circle__stand {
    display: none;
  }
  #phones .phones--circle__world {
    display: flex;
    align-items: center;
  }
  #phones .phones--circle__world--pink {
    margin-top: 43vh;
  }
  #time .time--effect__they {
    font-size: 15px;
  }
  #time .time--effect__shrift {
    margin: 18px 0;
    font-size: 8px;
    line-height: 12px;
  }
  #time .time--effect__know {
    font-size: 10px;
  }
  #time .time--clock__watch {
    width: 97px;
    height: 97px;
  }
  #time .time--clock__times {
    font-size: 39px;
    top: 76px;
    left: 49px;
  }
  #smil .smil .swiper-slide__icon {
    font-size: 44px;
  }
  #smil .smil .swiper-slide__offer {
    width: 313px;
    line-height: 20px;
  }
  #smil .smil .swiper-slide__name {
    font-size: 15px;
  }
  #smil .smil .swiper-slide__year {
    font-size: 10px;
  }
  #tables .tables--nica {
    padding: 130px 0 0 0;
    margin-left: 18%;
  }
  #tables .tables--nica__close {
    width: 69px;
    height: 58px;
  }
  #tables .tables--nica__close--smail {
    font-size: 12px;
  }
  #tables .tables--nica__close1 {
    width: 69px;
    height: 58px;
  }
  #tables .tables--nica__close1--one__smail {
    font-size: 12px;
  }
  #tables .tables--nica__close1--one__valute {
    font-size: 9px;
    line-height: 12px;
  }
  #tables .tables--nica__close1--webs p {
    top: 11px;
    left: 3px;
    font-size: 9px;
  }
  #tables .tables--helps {
    width: 74%;
  }
  #tables .tables--helps__year {
    width: 100%;
  }
  #tables .tables--helps__year--icon {
    font-size: 15px;
  }
  #tables .tables--helps__year--icons {
    font-size: 15px;
  }
  #cards .cards--late {
    font-size: 26px;
  }
  #offers .offers--hand {
    right: 63px;
    top: 199px;
  }
  #offers .offers--hand iframe {
    width: 38px;
    height: 75px;
  }
  #offers .offers img {
    width: 42%;
  }
  #offers .offers--phone__live {
    width: 67%;
    font-size: 18px;
  }
  #social .social--network a {
    width: 26px;
    height: 26px;
  }
  #social .social--student {
    width: 30%;
    font-size: 9px;
  }
  #social .social--student .code {
    font-size: 12px;
  }
}
@media (max-width: 414px) {
  #time .time--effect {
    width: 94%;
  }
  #time .time--clock__times {
    font-size: 25px;
    top: 52px;
    left: 33px;
  }
  #time .time--clock__watch {
    border: 5px solid #D22856;
    width: 68px;
    height: 63px;
    top: 32px;
    left: 12px;
  }
  #offers .offers--hand {
    right: 54px;
    bottom: 398px;
  }
  #offers .offers img {
    width: 54%;
  }
  #phones .phones--word__have {
    line-height: 26px;
    margin: 11px 0;
    width: 54%;
    font-size: 17px;
  }
  #phones .phones--circle__world--pink {
    margin-top: 52vh;
  }
  #tables .tables--nica {
    padding: 90px 0 0 0;
    margin-left: 21%;
  }
  #tables .tables--nica__close {
    width: 55px;
  }
  #tables .tables--nica__close1 {
    width: 60px;
  }
  #tables .tables--nica__close1--webs p {
    top: 2px;
    left: 3px;
  }
}
@media (max-width: 380px) {
  #offers .offers--hand {
    right: 64px;
  }
  #offers .offers--phone {
    margin-left: 24px;
  }
}
@media (max-width: 375px) {
  #header .header img {
    width: 50%;
  }
  #social .social--network a {
    font-size: 12px;
  }
  #offers .offers--hand {
    right: 63px;
    top: 198px;
  }
  #phones .phones--circle {
    height: 41vh;
    margin-right: 39%;
  }
  #phones .phones--circle__world--pink__next {
    padding: 2px 0;
    width: 100%;
  }
  #time {
    padding: 60px 0 33px 0;
  }
  #time .time {
    flex-direction: column;
    display: flex;
  }
  #time .time--clock {
    display: flex;
    justify-content: center;
  }
  #time .time--clock img {
    width: 40%;
  }
  #time .time--clock__watch {
    width: 84px;
    height: 83px;
    top: 32px;
    left: 101px;
  }
  #time .time--clock__times {
    font-size: 31px;
    top: 57px;
    left: 129px;
  }
  #time .time--effect {
    width: 94%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #time .time--effect__shrift {
    text-align: center;
  }
  #smil .smil .swiper-button-next {
    display: none;
  }
  #smil .smil .swiper-button-prev {
    display: none;
  }
  #smil .smil .swiper-slide__offer {
    font-size: 12px;
    padding: 32px 0;
  }
  #tables {
    padding: 5px 0;
  }
  #cards .cards--email {
    width: 90%;
  }
  #cards .cards--email__telphone a {
    font-size: 8px;
  }
  #cards .cards--email__telphone--call {
    font-size: 10px;
  }
  #cards .cards--late {
    font-size: 19px;
  }
  #social .social--network a {
    font-size: 9px;
    width: 16px;
    height: 16px;
  }
  #social .social img {
    height: 17px;
  }
}
@media (max-width: 320px) {
  #offers .offers--hand {
    right: 47px;
    top: 206px;
  }
  #offers .offers--hand iframe {
    width: 32px;
    height: 60px;
  }
  #tables .tables--nica {
    margin-left: 24%;
  }
  #tables .tables--helps {
    width: 93%;
  }
  #time .time--clock__watch {
    top: 31px;
    left: 97px;
  }
}

/*# sourceMappingURL=media.css.map */
