@import "mixin";

#header {
  @include header;
  @include align;

  .header {
    @include around;
    @include align;

    &__hamburger {
      &__menu {
        .menu {
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          list-style-type: none;
        }

        li a {
          width: 150px;
          @include between;
          color: white;
          transition: .4s;
        }

        li a:hover {
          font-size: 15px;
          color: palevioletred;
          transform: scaleX(1.1);
          text-decoration-line: underline;
        }

        #menu-toggle {
          display: none;
        }
      }
    }
  }
}

#offers {
  background: url("../img/back-desktop.png") no-repeat center/cover;
  padding: 150px 0 0 0;

  .offers {
    color: $color;
    @include align;

    &--phone {
      margin-left: 120px;
      @include align;
      @include column;
      animation: phoneKey 1000ms;
      animation-iteration-count: 2;

      &__live {
        width: 70%;
        font-weight: 300;
        font-size: $font-size;
        @include text-align;
      }

      &__btn {
        margin: 30px 0;
        color: $color;
        @include btn;
        transition: .5s;
      }

      &__btn:hover {
        background: white;
        color: rgba(126, 55, 129, 0.53);
        cursor: pointer;
        transform: scaleX(1.1);
      }

      &__icon {
        width: 70%;
        @include around;
        padding: 30px 0;
        font-size: $font-sizes;

        a {
          color: $color;
          transition: .4s;
        }

        a:hover {
          color: #1588e8;
          font-size: 25px;
          transform: scaleX(1.1);
        }

      }

      &__brand {
        width: 100%;
        @include text-align;
      }
    }

    @keyframes phoneKey {
      from {
        transform: translateY(-200%);
        opacity: 0.25;
      }
      to {
        transform: translateY(0%);
        opacity: 1;
      }
    }

    &--hand {
      position: absolute;
      right: 280px;
      bottom: 185px;
      animation: handKey 1000ms;
      animation-iteration-count: 2;

      iframe {
        width: 195px;
        height: 350px;
      }
    }

    @keyframes handKey {
      from {
        transform: translateY(200%);
        opacity: 0.25;
      }
      to {
        transform: translateY(0%);
        opacity: 1;
      }
    }

    img {
      width: 64%;
      animation: handKey 1000ms;
      animation-iteration-count: 2;
    }
  }
}

#phones {
  background-image: linear-gradient(-5deg, #f2f2f2 60%, transparent 10%);

  .phones {
    &--word {
      @include center;

      &__have {
        margin: 50px 0;
        @include have;
        @include align;
        @include text-align;
        color: #283645;
      }
    }

    &--circle {
      margin-right: 15%;
      @include around;
      height: 80vh;
      background-image: linear-gradient(-10deg, #f2f2f2 70%, transparent 10%);

      &__stand {
        &--image {
          position: absolute;
          @include align;

          &__apple {
            position: relative;

            &--img {
              @include imgs;
            }
          }
        }

        &--pink {
          position: absolute;
          height: 179px;
          background: #F2F2F2;
          @include text-align;
          margin-top: 45vh;

          &__next {
            padding: 30px 0;
            @include next;
            @include text-align;
            color: #000000;
          }

          &__fixed {
            width: 193px;
            @include fixed;
            @include align;
          }
        }
      }

      &__help {
        &--image {
          position: absolute;
          @include align;

          &__apple {
            position: relative;

            &--img {
              @include imgs;
            }
          }
        }

        &--pink {
          position: absolute;
          height: 179px;
          background: #F2F2F2;
          @include text-align;
          margin-top: 45vh;

          &__next {
            padding: 30px 0;
            @include next;
            @include text-align;
            color: #000000;
          }

          &__fixed {
            width: 193px;
            @include fixed;
            @include align;
          }
        }
      }

      &__world {
        &--image {
          position: absolute;
          @include align;

          &__apple {
            position: relative;

            &--img {
              @include imgs;
            }
          }
        }

        &--pink {
          position: absolute;
          height: 179px;
          background: #F2F2F2;
          @include text-align;
          margin-top: 45vh;

          &__next {
            padding: 30px 0;
            @include next;
            @include text-align;
            color: #000000;
          }

          &__fixed {
            width: 193px;
            @include fixed;
            @include align;
          }
        }
      }
    }
  }
}

#time {
  background: #F2F2F2;
  padding: 100px 0;

  .time {
    @include align;
    @include center;
    @include evenly;

    &--clock {
      position: relative;
      animation: clockKey 150ms alternate infinite cubic-bezier(.2, .65, .6, 1);

      &__times {
        position: absolute;
        top: 120px;
        left: 85px;
        font-size: 120px;
        color: #D22856;
      }

      &__watch {
        position: absolute;
        top: 73px;
        left: 26px;
        @include border;
        width: 212px;
        height: 212px;
      }
    }

    @keyframes clockKey {
      from {
        transform: translateY(0px);
      }
      to {
        transform: translateY(-20px);
      }
    }


    &--effect {
      width: 50%;

      &__they {
        font-size: 30px;
      }

      &__shrift {
        margin: 30px 0;
        width: 80%;
        @include shrift;
      }

      &__know {
        @include align;
        color: #D22856;
      }

      &__know:hover {
        text-decoration-line: underline;
      }
    }
  }
}

#smil {
  .smil {
    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-button-next {
      color: rgba(34, 34, 34, 0.66);
    }

    .swiper-button-prev {
      color: rgba(34, 34, 34, 0.66);
    }

    .swiper-slide {
      @include slider;
      @include column;

      &__icon {
        font-size: 85px;
        color: gray;
      }

      &__offer {
        @include offers;
        @include align;
        @include fixed;
      }

      &__year {
        @include center;
        @include text-align;
        @include blue;
        padding: 10px 0;
      }
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

#tables {
  background-image: linear-gradient(-5deg, #f2f2f2 70%, transparent 10%);
  padding: 100px 0;

  .tables {
    @include column;
    @include align-text;
    margin-right: 15%;

    &--nica {
      padding: 200px 0 0 0;
      display: flex;
      margin-left: 52%;

      &__close1 {
        @include close;

        &--webs {
          position: relative;

          p {
            transform: rotate(-45deg);
            position: absolute;
            top: 20px;
            left: 15px;
            color: $color;
          }
        }

        &--one {
          color: $color;
          @include column;
          @include content-center;

          &__valute {
            @include valute;
          }
        }
      }

      &__close {
        @include close;
        @include column;
        @include content-center;

        &--smail {
          font-size: 18px;
          color: #FFFFFF;
        }

        &--valute {
          @include valute;
        }

        &--webs {
          &__look {
            position: absolute;
            top: 10px;
          }

          &__look {
            transform: rotate(-45deg);
            top: 0;
          }
        }
      }
    }

    &--helps {
      @include grid;

      &__year {
        @include year;
        @include column;
        @include content-center;

        p {
          color: #283645;
          font-size: 18px;
        }

        &--icon {
          color: rgba(45, 161, 45, 0.96);
          font-size: 25px;
        }

        &--icons {
          color: rgba(255, 0, 0, 0.77);
          font-size: 25px;
        }
      }
    }

  }
}

#cards {
  .cards--map {
    iframe {
      width: 100%;
      height: 602px;
    }
  }

  .cards {
    @include column;
    @include align;

    &--late {
      padding: 30px 0;
      font-size: 40px;
      @include text-align;
      color: #283645;
    }

    &--email {
      width: 60%;
      @include between;
      text-align: center;

      &__telphone {
        &--call {
          font-size: 18px;
          padding: 20px 0;
        }

        a {
          font-size: 20px;
          color: #D22856;
        }
      }
    }

    &--map {
      clip-path: polygon(100% 100%, 54% 100%, 0 100%, 0 0, 50% 21%, 100% 0);
      height: 50%;
      animation: mapKey 1000ms;
      animation-iteration-count: 3;
    }

    @keyframes mapKey {
      from {
        transform: translateY(200%);
        opacity: 0.25;
      }
      to {
        transform: translateY(0%);
        opacity: 1;
      }
    }
  }
}

#social {
  padding: 40px 0;

  .social {
    @include between;

    img {
      height: 25%;
    }

    &--network {
      width: 18%;
      @include around;

      a {
        width: 40px;
        height: 40px;
        border: 3px solid rgba(128, 128, 128, 0.16);
        border-radius: 50%;
        transition: .4s;
        @include content-center;
        @include align;
        @include centeres;
      }

      a:hover {
        border: 3px solid rgba(128, 128, 128, 0.16);
        box-shadow: 0 5px 50px 0 #ad1f1f inset, 0 5px 50px 0 #da7474;

      }
    }

    &--student {
      width: 15%;
      @include around;
      align-items: center;
      @include align;

      .code {
        color: #D22856;
        font-size: 24px;
      }
    }
  }
}